:root {
  --textPrimaryColor: rgba(255, 255, 255, 0.58);
  --textSecondaryColor: rgba(249, 249, 250, 0.886);
  --primaryColor: rgb(59, 136, 253);
}

.header {
  font-size: small;
}

.header > h2 {
  color: var(--textPrimaryColor);
}

.header > span {
  color: var(--textSecondaryColor);
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
}

#chat {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#chat > .message {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  margin-bottom: 6px;
  max-width: 300px;
  border-radius: 2px;
}

#chat > .message > .time {
  align-self: flex-end;
  margin-top: 6px;
  font-size: 10px;
  color: var(--textPrimaryColor);
}

.sent {
  align-self: flex-end;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: white;
}

.response {
  align-self: flex-start;
  background: #3a3b3c;
  border-color: #3a3b3c;
  color: #fffff2;
}

.question-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  background: #3a3b3c;
  border-radius: 2px;
}

.question-form > input {
  flex: 1;
  margin-left: 6px;
  background-color: transparent;
  color: white;
}

.question-form > input,
.question-form > input:focus {
  border-color: transparent;
  outline: none;
}

.question-form > button {
  width: 60px;
  height: 20px;
  margin-left: 12px;
  border-radius: 4px;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: white;
  border-radius: 4px;
}
