body {
  height: 97vh;
}

.header > h1 {
  color: var(--vscode-foreground);
  margin-bottom: 6px;
}

.header > h4 {
  color: var(--vscode-descriptionForeground);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  height: calc(100% - 100px);
}

#chat {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  height: 100%;
  overflow-y: scroll;
}

#chat > .message {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  margin-bottom: 6px;
  max-width: 300px;
  border-radius: 2px;
}

#chat > .message > .time {
  align-self: flex-end;
  margin-top: 6px;
  font-size: 10px;
}

.sent {
  align-self: flex-end;
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

.sent > .time {
  color: var(--vscode-button-foreground);
}

.response {
  align-self: flex-start;
  background: var(--vscode-textCodeBlock-background);
  border-color: var(--vscode-textCodeBlock-background);
  color: var(--vscode-foreground);
}

.response > .title {
  font-weight: bold;
  color: var(--vscode-foreground);
}

.response > .title > a {
  text-decoration: none;
}

.response > img {
  margin-top: 5px;
}

.response > .time {
  color: var(--vscode-foreground);
}

.question-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  background: var(--vscode-textCodeBlock-background);
  border-radius: 2px;
}

.question-form > input {
  flex: 1;
  margin-left: 6px;
  background-color: transparent;
  color: var(--vscode-foreground);
}

.question-form > input,
.question-form > input:focus {
  border-color: transparent;
  outline: none;
}

.question-form > button {
  cursor: pointer;
  width: 60px;
  height: 26px;
  margin-left: 12px;
  border-radius: 4px;
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: 4px;
}

#typing {
  display: none;
}
